html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.sidebar-link {
    display: flex;
    align-items: center;
    gap: 12px; 
    font-weight: 600;
    padding-left: 16px;
    font-size: 17px; 
}

.active-page {
    background-color: #e0f0ff; /* Light blue */
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 12px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}